class <%= name.capitalize %>Flow

  include Stealth::Flow

  flow :hello do
    state :say_hello
  end

  flow :goodbye do
    state :say_goodbye
  end

  flow :catchall do
    state :level1
  end

end
