name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04, macos-latest]
        ruby: [ 2.7, 3.0, 3.1, truffleruby-head ]
        exclude:
          - os: ubuntu-22.04
            ruby: 2.7
          - os: ubuntu-22.04
            ruby: truffleruby-head

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }} - ${{ matrix.ruby }}

    env:
      BUNDLE_GEMFILE: Gemfile
      XIP_ENV: test

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run specs
        if: startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu')
        timeout-minutes: 10
        run: bundle exec rspec
        continue-on-error: ${{ startsWith(matrix.ruby, 'truffleruby') }}
  check_status:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: CI Status (matrix)
    needs: tests
    steps:
      - name: Check continue-on-error matrix status
        if: ${{ needs.tests.result != 'success' }}
        run: exit 1
